:root {
    --icon-lg-size: 140px;
    --icon-sm-size: 50px;
    --icon-border-radius: 50%;
    --grid-gap: 20px;
    --area-width: 1200px;
    --area-height: 600px;
    --card-inner-margin: 10px;
    --dark-primary: #1d3557;
    --mid-primary: #457b9d;
    --light-primary: #a8dadc;
    --lightest-primary: #f1faee;
    --accent: #e63946;
}

body {
    font-family: Helvetica, sans-serif;
    color: var(--lightest-primary);
    background: var(--dark-primary);
    padding: 0 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 55px;
    letter-spacing: -2px;
}

h2 {
    font-size: 45px;
    letter-spacing: -1px;
    margin: 0;
    margin-top: var(--card-inner-margin);
}

h3 {
    font-size: 30px;
    margin: 0;
    margin-top: var(--card-inner-margin);
}

.container {
    display: grid;
    column-gap: var(--grid-gap);
    row-gap: var(--grid-gap);
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    height: var(--area-height);
    width: var(--area-width);
}

.card {
    background-color: var(--light-primary);
    color: var(--dark-primary);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card:hover {
    background-color: var(--lightest-primary);
}

.card.lg {
    grid-template-columns: 2fr;
    grid-row: span 2;
    font-size: 20px;
}

.card.sm {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    font-size: 16px;
}

.icon {
    border-radius: var(--icon-border-radius);
}

.card.lg>.icon {
    width: var(--icon-lg-size);
    height: var(--icon-lg-size);
    background-color: black;
}

.card.sm>.icon {
    width: var(--icon-sm-size);
    height: var(--icon-sm-size);
    background-color: black;
}

#sun-icon {
    background: radial-gradient(circle at 50% 50%, #FFFF00 50%, #d0534e 100%);
}

#mercury-icon {
    width: calc(var(--icon-sm-size) * .33);
    height: calc(var(--icon-sm-size) * .33);
    background: linear-gradient(#d5d5d8, #4c4c57, #d5d5d8);
    border: 1px solid #4c4c57;
}

#venus-icon {
    width: calc(var(--icon-sm-size) * .95);
    height: calc(var(--icon-sm-size) * .95);
    background: linear-gradient(#e39e1c, #e7d520, #e39e1c);
    border: 1px solid #a57c1b;
}

#earth-icon {
    width: var(--icon-sm-size);
    height: var(--icon-sm-size);
    background: linear-gradient(#6b93d6, #9fc164, #6b93d6);
    border: 1px solid #6b93d6;
}

#mars-icon {
    width: calc(var(--icon-sm-size) * .5);
    height: calc(var(--icon-sm-size) * .5);
    background: linear-gradient(#c1440e, #fda600, #c1440e);
    border: 1px solid #451804;
}

/* I wanted to make the planets the exact scale compared to earth,
but some of them would be way too big for the cards */
#jupiter-icon {
    width: calc(var(--icon-sm-size) * 1.4);
    height: calc(var(--icon-sm-size) * 1.4);
    background: linear-gradient(#e3dccb, #ebf3f6, #c99039, #ebf3f6, #c99039, #e3dccb);
    border: 1px solid #a59186;
}

#saturn-icon {
    width: calc(var(--icon-sm-size) * 1.4);
    height: calc(var(--icon-sm-size) * 1.4);
    background: linear-gradient(#bfbdaf, #ead6b8, #ceb8b8, #bfbdaf);
    border: 1px solid #ceb8b8;
}

#uranus-icon {
    width: calc(var(--icon-sm-size) * 1.3);
    height: calc(var(--icon-sm-size) * 1.3);
    background: radial-gradient(circle at 50% 50%, #ACE5EE 50%, #4296dc 100%);
    border: 1px solid #2e84ce;
}

#neptune-icon {
    width: calc(var(--icon-sm-size) * 1.3);
    height: calc(var(--icon-sm-size) * 1.3);
    background: radial-gradient(circle at 50% 50%, #85addb 50%, #274687 100%);
    border: 1px solid #274687;
}